* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 2.8vh 0vh; */
    font-size: 1vw;
    text-transform: uppercase;
    gap: 2vw;
    margin-bottom: 0;
    z-index: 10;
}
nav h1{
    font-size: 1.8vw ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 650;
}
nav .nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .nav-part2 h2{
    font-weight: 500;
    margin: 13px;
    font-size: .8vw;
   transition: all ease 0.2s;
    
}
nav .nav-part2 h2:hover{
    cursor: pointer;
    color: #4A4A4A;
    
}
/* nav .nav-part2 h2:hover .nav-bottom{
    height: 100%;
    bottom:-230%;
} */
nav button{
    background-color: #0BA34D;
    /* background-color: white; */
    padding:1vw;
    padding-right: 0;
    border: 1px solid #060606 ;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 550;
    /* margin: 2vw 1vw; */

}

nav button i{
    font-size: 1vw;
    margin-left: .05vw;
    margin-right: 0;
    padding: 1vw;
    background-color: #0BA34D;
    border-radius: 50%;
    /* transition: all ease 1s; */
    

}
/* nav button:hover i{
   

} */

.nav-bottom{
    background-color: #111111;
    /* background-color: #0BA34D; */
    width: 87%;
    height: 0vh;
    position: absolute;
    bottom: 0vh;
    border-bottom: 1px solid #dadada;
    /* margin-top: 5vh; */
    transition: all ease 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5vw;
    /* padding: 15vw 15vw; */
    padding-left: 13vw;
    /* padding-right: 11vw; */
}
nav:hover .nav-bottom{
    height: 23vh;
    bottom: -22vh;
}
nav:hover .nav-options span{
    opacity: 1;
    transition: all ease-in 0.4s;

    /* visibility: visible; */
}
/* .nav-bottom :nth-child(3){
    margin-left: -10;
} */
.nav-options{
    /* background-color: red; */
    /* margin-left: -2vw; */
    line-height: 3vh;

}
.nav-options span{
    font-size: 0.8vw;
    font-weight: 200;
    /* visibility: hidden; */
    opacity: 0;
    transition: all ease-out 0.01ms;
    display: inline-block;
}
.nav-options span:hover{
    cursor: pointer;
    color: #4A4A4A;

}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
}
.page1 h1{
    color: white;
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 1500;
    line-height: 9vw;
    letter-spacing: -2.5px;
    word-spacing: -12px;
    /* transition: transform 3s ease; */
}
/* .page1 h1:hover{
    transform: scale(0.5) rotate(360deg);
} */
.page1 h1 span svg{
    height: 7vw;
    background-color: #0BA34D;
    border-radius: 50%;
    transition: transform 0.5s, width 0.5s, height 0.5s;

}
.page1 h1 span svg:hover{
    transform:scale(0.8) rotate(-20deg);
    cursor: pointer;
    
}
.page1 p{
    text-align: center;
    font-weight: 300;
    margin-top: 6vh;
}
.page1 .something{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page1 .something h4{
    text-transform: lowercase;
    font-size: 1vw;
    font-weight: 300;
    margin: 10px 3px;
    padding:8px 6px;
    border: .5px solid #CFC4C5;
    border-radius: 50px;
}
.page1 .something h4:nth-last-child(2){
    border: none;
    padding: 0;
}
.moving-div{
    /* background-color: red; */
    margin-bottom: 5vh;
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 50%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;
}
.moving-div .blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right,#111,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}
.moving-div .blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right,transparent,#111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

}
.moving-div .move {
    /* display: flex;
    align-items: center; */
    display: inline-block;
   
    gap: 2vw  ;
    animation-name: mobe;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.moving-div .move img{
    margin: 0 1.2vw;
    height: 1.2vw;
}
@keyframes mobe {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-100%)

    }
    
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
    border-top: 1px solid #333;
    padding-bottom: 15%;
    
}
.page2-right{
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 2vw;
    margin-right: 20%;
}
.page2-right p{
    font-size: 1vw;
    font-weight: 170;
}
h5{
    width: 100%;
    font-size: 1.2vw;
    font-weight: 200;
}

.page2-left{
    height: 100%;
    width: 55%;
    /* background-color: #333 */
    position: relative;
    /* margin-left: 5vw; */
}
.left-elem{
    cursor: pointer;
}
.left-elem h1{
    font-size: 1.5vw;
    /* width: 70%; */
    font-weight: 300;
    padding: 2vw 0 5vw 0;
    border-bottom: 1px solid #333;

}
.left-elem img {
height: 7vw;
width:7vw;
border-radius: 50%;
object-fit: cover;
 position: absolute;
 scale: 0;
 opacity: 0;
}

.page3{
    height: 80vh;
    width: 100vw;
    background-color: #ffffff;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 10vh; */

}
.page3 video{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99999;
    transform: scaleX(0.5) scaleY(0);
    opacity: 0;
    border-radius: 40px;
}

.page3 .video-container{
    height: 28vh;
    width: 10vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 50%;
}
.page3 .video-container .play-button i{
color: #111;
background-color: #fff;
font-size: 4vw;
font-weight: 300;
padding : 3vw;
border-radius: 50%;
cursor: pointer;
}
.play-text{
    height: 1vw;
    background-color: #fff;
    padding: 1vw .7vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    transform: translateY(50%);
    opacity:0;
}

.play-text h5{
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8vw;
    text-transform: uppercase;
}
.video-container:hover .play-text {
    opacity: 1;
    transform: translateY(5%);

}


.page4{
    height: 80vh;
    width: 100%;
    display: flex;
    /* background: #333; */

}
.page4-left{
    height: 85%;
    width: 40%;
    background-color: #fff;
    margin: 4%;
    padding: 4vw 3vw;
    padding-bottom: 0;
}
.page4-left h2{
    color: black;
    font-size:3.5vw;
    font-weight: 595;
}
.page4-right{
    height: 85%;
    width: 50%;
    background-color: #fff;
    margin: 4%;
    padding: 4vw 3vw;
    padding-bottom: 0;

}
.page4-right p{
    color: #A3A3A3;
    text-transform: uppercase;
    margin-bottom: 4vh;
    font-size: 1vw;

}
.page4-right h4{
    color: black;
    font-size: 1.5vw;
    font-weight: 300;
    margin-bottom: 5vh;

}
.page5{
    height: 100vh;
    width: 100%;
    /* background-color: #f1bebe; */
    
}
.page5 .row{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}
.page5 .number-card{
    height: 96%;
    width: 30%;
    background-color: #F5F5F5;
    margin: 0 .5vw;
    padding: 4vh 3vw ;

    /* margin-bottom: 10%; */
}
.number-card h1{
    color: black;
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 3vh;
}
.number-card h2{
    color: black;
    font-size: 1vw;
    font-weight: 200;
    margin-bottom: 15vh;
}
.number-card h3{
    color: #A3A3A3;
    font-size: 1vw;
    font-weight: 200;
}










.page6{
    height: 100vh;
    width: 100%;
}


